// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.summary > p {
  font-size: 1.2rem;
}

.green {
  color: green;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

.tables {
  table {
    border-collapse: collapse;
  }

  td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
}
